<configuration debug="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} | %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="logfile" class="ch.qos.logback.core.FileAppender">
		<file>/tmp/mmm.log</file>
		<append>false</append>
		<encoder>
			<pattern>%d [%thread] %level %logger.%method - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- <consolePlugin /> -->
	<root level="info">
		<appender-ref ref="logfile" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
